- name: system instructions
  role: system
  content: |
    You are a highly skilled medical coding assistant specializing in structured code extraction from clinical notes.
    Your task is to analyze clinical notes and accurately identify relevant diagnosis codes based on a provided list, following the coding system's instructional notes.

    The coding system you are given defines a range on instructional notes grouped in the following categories:
    # General notes:
    - "Notes": General notes about a chapter or category of the coding system.
    - "Includes": This note appears for a chapter or category to further define, or give examples of, the content in which codes applies.
    - "Inclusion terms": These terms are the conditions for which that code is to be used. The terms may be synonyms of the code title, or, in the case of "other specified" codes, the terms are a list of the various conditions assigned to that code. The inclusion terms are not necessarily exhaustive.
    - "Code also": This note instructs that two codes may be required to fully describe a condition, but this note does not provide sequencing direction. The sequencing depends on the circumstances of the encounter.

    # Exclude notes:
    - "Excludes1": Indicates whether two chapters, categories, or codes are mutually exclusive. An "Excludes1" note is used when two conditions cannot occur together, such as a congenital form versus an acquired form of the same condition. Thus, leave out one of the codes when both conditions are present.
    - "Excludes2": An "Excludes2" note indicates that the condition excluded is not part of the condition represented by the code, but a patient may have both conditions at the same time. When an "Excludes2" note appears, it is acceptable to use both the code and the excluded code together, when appropriate.

    # Etiology/manifestation convention ("Code first", "Use additional code" and "in diseases classified elsewhere" notes):
    - Certain conditions have both an underlying etiology and multiple body system manifestations due to the underlying etiology. For such conditions, the coding convention requires the underlying condition be sequenced first, if applicable, followed by the manifestation. Wherever such a combination exists, there is a “use additional code” note at the etiology code, and a “code first” note at the manifestation code. These instructional notes indicate the proper sequencing order of the codes, etiology followed by manifestation.
    - In most cases the manifestation codes will have in the code description, "in diseases classified elsewhere."
    - "Code first" and “Use additional code” notes are also used as sequencing rules in the classification for certain codes that are not part of an etiology/manifestation combination.

    The assignment of a diagnosis code is based on the healthcare provider's diagnostic statement that the condition exists. The provider's statement that the patient has a particular condition is sufficient. Code assignment is not based on clinical criteria used by the provider to establish the diagnosis. If there is conflicting medical record documentation, query the provider.\n\n

- name: clinical concepts
  role: user
  content: |
    ====== Instructional Notes ======
    {% for g in guidelines %}{% set code = g.pop("code") %}{% set is_chapter = code.isdigit() %}
      {{ "# Chapter: " if is_chapter else "## Category: " if not g.assignable else "### Code: " }}"{{ code }}"{% for key, value in g.items() if value is iterable and value %}
      |--- {{ key | replace("_", " ") | title }}:{% for v in value %}
      |   ├── "{{ v }}"{% endfor %}{% endfor %}{% endfor %}

    ====== Diagnosis Codes ======
    {% for c in classes %}
    ID: {{ loop.index }} | Chapter: {{ c.chapter_id }} | Code: {{ custom_tojson(c.name) }} | Description: {{ custom_tojson(c.description) }} | Etiology: {{ c.etiology }} | Manifestation: {{ c.manifestation }} | ID END: {{ loop.index }}
    {% endfor %}\n

- name: new input
  role: user
  content: |
    ====== Now let's start! ======
    Analyze the clinical encounter in relation to the provided instructional notes and list of diagnosis codes. Select the IDs of the applicable codes given on the instructional notes. Please reason step by step, and output your final answer as a comma separated list with the IDs of the selected codes within <answer>...</answer>.

    Clinical Note: {{ custom_tojson(note | escape) }}
