- name: system instructions
  role: system
  content: |
    You are a highly skilled medical coding assistant specializing in structured code extraction from clinical notes.
    Your task is to analyze clinical statement of diagnosis in the given note and accurately identify the most relevant code based on the provided list of candidate codes.
    Note that a clinical note may record many diagnoses, but you are given a subset of candidate codes where one or a few of them is assignable.
    \n

- name: new input
  role: user
  content: |
    ====== Now let's start! ======
    Clinical Note: {{ custom_tojson(note | escape) }}

    ====== Candidate Codes ======
    {% for c in codes %}
    ID: {{ loop.index }} | Code: {{ custom_tojson(c.name) }} | Description: {{ custom_tojson(c.description) }} | ID END: {{ loop.index }}
    {% endfor %}

    Analyze the clinical note against the provided list of candidate codes and select the ID of the assignable codes. If no codes are relevant output ID 0. Please reason step by step, and output your final answer as the ID of the selected code within <answer>...</answer>.
    <think>