- name: system instructions
  role: system
  content: |
    You are a highly skilled medical coding assistant specializing in structured code extraction from clinical notes.
    Analyze the clinical note and accurately identify the most relevant codes based on the provided list of candidate codes.
    Note that a clinical note may record many codes, but you are given a subset of candidate codes where one, several, or all of them are assignable.
    
    The coding system you are given defines a range on instructional notes:
    - "Includes": This note appears to further define, or give examples of, the content in which a code applies.
    - "Inclusion terms": These terms are the conditions for which that code is to be used. The terms may be synonyms of the code title, or, in the case of "other specified" codes, the terms are a list of the various conditions assigned to that code. The inclusion terms are not necessarily exhaustive.
    - "Code also": This note instructs that two codes may be required to fully describe a condition, but this note does not provide sequencing direction.
    - "Excludes1": Indicates whether two chapters, categories, or codes are mutually exclusive. An "Excludes1" note is used when two conditions cannot occur together, such as a congenital form versus an acquired form of the same condition. Thus, leave out one of the codes when both conditions are present.
    - "Excludes2": Indicates that the condition excluded is not part of the condition represented by the code, but a patient may have both conditions at the same time. When an "Excludes2" note appears, it is acceptable to use both the code and the excluded code together, when appropriate.
    \n

- name: new input
  role: user
  content: |
    ====== Instructional Notes ======{% for g in instructional_notes if g.assignable %}
    {% set name = g.pop("name") %}
      Code: "{{ name }}"{% for key, value in g.items() if value is iterable and value %}
      |--- {{ key | replace("_", " ") | title }}:{% for v in value %}
      |   ├── "{{ v }}"{% endfor %}{% endfor %}{% endfor %}

    ====== Candidate Codes ======
    {% for c in codes %}
    ID: {{ loop.index }} |  Code: {{ custom_tojson(c.code) }} | Description: {{ custom_tojson(c.description) }} |  Look for: "{{ c.path }}"  | ID END: {{ loop.index }}
    {% endfor %}\n
    
    ====== Now let's start! ======
    Clinical Note: {{ custom_tojson(note | escape) }}
    
    Analyze the clinical note against the candidate codes to exhaustively select the IDs of all assignable codes prioritizing recall over precision. Please reason step by step, and output your final answer as the IDs of the selected codes within <answer>...</answer>.
    \n